 

<p ><h3 align="center"> Hopefully after going through this guide you have an
	idea of how AngularJS works on the basic level. Continue with some of these
	links to broaden your knowledge.
</h3></p><br>	

<ul>
<li><span style="line-height: 13px;"><a href="http://angularjs.org/" target="_blank">The AngularJS Home Page</a><br>
</span></li>
<li><a href="http://docs.angularjs.org/guide" target="_blank">The AngularJS Guide</a></li>
<li><a href="http://docs.angularjs.org/tutorial" target="_blank">The Official AngularJS Tutorial</a></li>
<li><a href="https://github.com/jmcunningham/AngularJS-Learning" target="_blank">A list of lots more resources, videos and tutorials</a></li>
</ul>
</p>
